<h2>Add a new bookmark</h2>
<form action = "/bookmarks/add" method = "post">
    Enter Title: <input type = "text" name="title" placeholder="Add Title" /><br><br> 
    Enter URL: <input type = "text" name="url" placeholder="Add URL" /><br><br>
    <input type="submit" value="Submit">
</form>
